# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# # Data 
# data/raw/
# data/processed/

# # Models + Reports (
# reports/history/
# reports/latest/gates_results.json

# # OS
# .DS_Store
# Thumbs.db

# # VSCode
# .vscode/*.log
